.commit-refresh-btn {
  text-transform: uppercase;
  border-radius: 8px;
  border: 1px solid grey;
  font-weight: bold;
  font-size: 14px;
  background: lightgray;
  background: linear-gradient(#e9e9e9, #9d9d9d);
  background: -webkit-linear-gradient(#e9e9e9, #9d9d9d); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#e9e9e9, #9d9d9d); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#e9e9e9, #9d9d9d); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#e9e9e9, #9d9d9d); /* Standard syntax */
}

.cs-button {
  border: 1px solid black;
  padding: 2px;
  max-width: 142px;
  border-radius: 12px;
  margin-bottom: 10px;
  cursor: pointer;
}

.cs-button-inner {
  padding: 4px;
  background-color: lightgray;
  border-radius: 10px;
}
