.commit-message {
  display: inline-block;
  width: 1000px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  font-weight: bold;
}

.commit-details {
  margin-top: 5px;
}
