<div class="row">
  <div class="col-md-12">
    <app-refresh-button (onRefresh)="loadCommits($event)"></app-refresh-button>
  </div>
</div>
<div class="panel panel-primary" *ngFor="let author of getKeys(groupedByAuthor)">
  <div class="panel-heading">{{author}}</div>
  <div class="panel-body">
    <div class="media" *ngFor="let item of groupedByAuthor[author]">
      <div class="media-left">
        <a href="#">
          <img alt="Avatar" class="media-object" [src]="item.author.avatar_url"
               data-holder-rendered="true" style="width: 64px; height: 64px;">
        </a>
      </div>
      <div class="media-body">
        <div class="media-heading commit-message">{{convertCommitMessage(item.commit.message)}}</div>
        <div class="commit-details">
          <div class="pull-left">
            <strong>{{item.author.login}}</strong>&nbsp;committed {{getTimeAgo(item.commit.author.date)}} ago
          </div>
          <div class="pull-right">Commit: {{item.sha}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
